.error {
    color: red;
}

table, th, td {
    border-collapse: collapse;
}

    table.center {
        margin-left: auto;
        margin-right: auto;
    }

.center {
    text-align: center;
}

.top {
    padding-top: 30px;
}
