<!-- <div class="row">
    <div class="col-sm-6">     
        <h3>Type Of EMI</h3>
        <br>    
        <h5>
                Loan Amount 
        </h5>
    <div>
<div class="row col-sm-12">
    <div class="col-sm-6">

        <input type="range" class="slider" id="fromPrice" #laonamount  min="1500" max="999999" 
    oninput="document.getElementById('fPrice').innerHTML = this.value"  />
    </div>
    <div class="col-sm-6">

<input class="Slider" #LA type="number" min="1500" max="999999">
</div>
</div>
</div> -->